#wrapper{
	margin-top: 50px;
	/*padding-top: 30px;*/
}
#below-header{
	min-height: 300px;
	padding-top: 20px;
}

.headline{
	padding-top: 50px;
}

#headline-image{
	padding-top: 0px;
}

#category{
	background-color: #F9F9F9; 
	padding-top: 40px;
}

.greybackground{
	background-color: #F9F9F9;
}

#rightward{
	margin-left: 50px;
}

.updown-margin{
	margin-top: 5px;
	margin-bottom:5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.topbottom-margin{
	margin-top: 40px;
	margin-bottom: 40px;
}

.body-padding{
	padding: 20px;
}

.top-margin{
	margin-top: 50px;
}

.review{
	margin-bottom: 50px;
}

.intertext-margin{
	margin-left: 5px;
}

.nav-icons-margin{
	margin-right: 15px;
}

.button-margin{
	margin-left: 10px;
}

.tint {
  position: relative;
  
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.2);
  transition: all .3s linear;
}

.tint:hover:before { background: none; }

.clickable:hover{
	background: #eaedf1;
}

a:hover{
	text-decoration: none;
}

/* visited link */
/*a:visited {
    color: green;
}*/

/* selected link */
/*a:active {
    color: yellow;
}*/

.icon-space{
	margin-left: 5px;
}

/*#inputGroupPrepend{
	background-color: white;
	color: #2FA4E7;
	outline-width: 0px;
	border-width: 0px;
}

#button-mod{
	background-color: white;

}*/

/*#navbar-edit{
	border-bottom: 1px solid #DCDCDC;
	color: #DCDCDC;
}*/

.fa.big {
  font-size: 20px;
}

#navBarSearchForm input[type=text]{width:320px !important;}

.category-image{
	width: 100%;
	height: 150px;
	background-color: #cccccc;
}

.category-description{
	position: relative;
	left: 20px;
    top: 60px;
}

.img-circular{
 width: 40px;
 height: 40px;
 background-size: cover;
 overflow: hidden;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
/*  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);*/

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 100%;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

 thead {
    color: #fff;
  }

.newsletter{
  margin-top: 10px;
}